<div class="form-group">
    <label for="fname">fname</label>
    <input type="text" #fnameControl class="form-control">
</div>
<div class="form-group">
    <label for="lname">lname</label>
    <input type="text" #lnameControl class="form-control">
</div>

<div class="form-group">
    <label for="email">email</label>
    <input type="text" #emailControl class="form-control">
</div>

<div class="form-group">
    <label for="contact">contact</label>
     <input type="text" #contactControl class="form-control">
</div>

<div class="text-right">
    <button class="btn btn-primary" (click)="onClick()">add student</button>
</div>