<div class="studentinfo">
  <h2 class="alert alert-success text-center text-uppercase">student information</h2>
  <div class="container ">
    <div class="row ">
      <div class="col-md-6 mt-3">
        <app-stdlist (customEvent)="stdli($event)"></app-stdlist>
  
      </div>
      <div class="col-md-6 mt-3 text-white">
         <table class="table table-bordered">
          <thead>
            <tr>
              <th>sr no</th>
              <th>fname</th>
              <th>lname</th>
              <th>email</th>
              <th>contact</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of stdObj; let i = index">
              <td>{{i+1}}</td>
              <td>{{s.fname}}</td>
              <td>{{s.lname}}</td>
              <td>{{s.email}}</td>
              <td>{{s.contact}}</td>
            </tr>
          </tbody>
         </table>
      </div>
    </div>
  </div>
</div>